.video-card {
	margin-bottom: 3.5em;
	margin-right: 1em;
}

.video-image {
	position: relative;
	background-color: lightgray
}

.video-image > img {
	height: 150px;
	width: 100%;
	object-fit: cover;
	display: block;
}

.video-time {
	position: absolute;
	bottom: 6px;
	right: 6px;
	background-color: #030303;
	color: white;
	font-size: 12px;
	border-radius: 2px;
	padding: 2px;
}
.video-avatar {
	height: 37px !important;
	width: 37px !important;
}
.video-infos {
	display: flex;
	justify-content: flex-start;
	margin-top: 0.5em;
}
.video-text {
	margin-left: 0.7em;
}

.video-title {
	margin-bottom: 0.4em;
	color: #030303;
}

.video-text p {
	color: #606060;
	font-size: 14px;
}
