.video-card {
	margin-bottom: 2.5em;
	margin-right: 1em;
	/* width: 260px; */
}

.video-card:hover .hidden {
	display: block;
}

.video-image {
	position: relative;
	background-color: #d3d3d3;
	cursor: pointer;
}

.video-image > img {
	width: 100%;
	height: 145px;
	object-fit: cover;
}

.hidden {
	display: none;
}
.video-time {
	position: absolute;
	bottom: 6px;
	right: 6px;
	background-color: #03030394;
	color: white;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	border-radius: 2px;
	padding: 3px 5px;
}

.watch-later {
	position: absolute;
	top: 6px;
	right: 6px;
	background-color: #030303c5;
	color: white;
	border-radius: 2px;
	font-size: 18px !important;
	padding: 5px 5px;
}
.video-avatar {
	height: 37px !important;
	width: 37px !important;
}
.video-infos {
	display: flex;
	justify-content: flex-start;
	margin-top: .8em;
}
.video-text {
	margin-left: 0.7em;
}

.video-title-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.video-subtitle {
	color: #606060;
	font-size: 14px;
	line-height: 18px;
	margin: none;

}
.video-title {
	margin: 0;
	margin-bottom: 0.4em;
	color: #030303;
	font-size: 14px;
	line-height: 20px;
	width: 185px;
	font-weight: 500;
	color: #030303;
	line-height: 20px;
}
.video-more-icon {
	cursor: pointer;
}


.video-more-list {
	position: fixed;
	z-index: 999;
}
