.channel-search {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.channel-search-profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-width: 360px;
}

.channel-search-Info {
  font-size: 13px;
  line-height: 18px;
  color: #606060;
}

.channel-search-description {
	width: 400px;
  margin-top: 0.5em;
}

.channel-search-name {
  font-size: 18px;
  line-height: 24px;
  color: #030303;
}
