.channel-search {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel-search-profile-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 360px;
	min-width: 360px;
}

.channel-search-Info {
font-size: 13px;
	line-height: 18px;
  color: #606060;
}

.channel-search-description{
  margin-top: .5em;
}

.channel-search-name {
	font-size: 18px;
	line-height: 24px;
	color: #030303;
}

.channel-search-profile-image {
	border-radius: 50%;
	margin: 0;
	padding: 0;
	height: 130px;
	cursor: pointer;
}
