.play-video {
	width: 60%;
}

.video-icon {
	color: white;
	margin-right: 0.8em;
	z-index: 999;
	cursor: pointer;
}

.video-info {
	flex-direction: column;
}
.play-video-title {
	color: #030303;
	font-size: 18px;
}
.play-video-details {
	display: flex;
}

.details-section {
	margin: 1em 0;
	padding-bottom: 1em;
	border-bottom: 1px solid lightgray;
}
.details-section > p {
	font-size: 18px;
	line-height: 24px;
	color: #030303;
	margin-bottom: 0.5em;
}
.video-info-details {
	display: flex;
	justify-content: space-between;
	color: #606060;
}

.video-info-details > p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.icons {
	display: flex;
}
.icon {
	margin-right: 0.4em;
	font-size: 26px !important;
}

.icon-container {
	display: flex;
	align-items: center;
	margin-left: 2em;
	cursor: pointer;
	color: #606060;
}
.icon-container > p {
	font-size: 13px;
	font-weight: 500;
}

.user-channel-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
.user-profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	margin-right: 1em;
}
.description-channel-name {
	font-size: 14px;
	color: #030303;
	font-weight: bold;
}

.subscriber-count {
	font-size: 13px;
	color: #606060;
	margin-top: 0.1em;
}

.description {
	border-bottom: 1px solid lightgray;
}
.description-main {
	line-height: 21px;
	margin-left: 4em;
	font-size: 14px;
	color: #030303;
	padding-bottom: 1.2em;
}
.highlight-icon{
	color: #065fd4;
}
.play-video-loading{
	width: 60%
}