.about-channel {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
  padding-top: 1em;
}

.about-channel-left {
	width: 62%;
}

.about-channel-right {
	width: 30%;
}

.about-channel-headings {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 1.5em;
	padding-top: 1em;
	color: #030303;
}

.about-channel-right-headings {
	font-size: 14px;
	line-height: 21px;
  padding: 1.2em 1.2em .6em 0;
}


.icons{
	color: #606060;
	font-size: 22px !important;
	padding-top: .7em;
}
.about-channel-description {
	font-size: 14px;
	line-height: 21px;
	color: #030303;
	margin-bottom: 2em;
}

.detail-top{
  display: flex;
  margin-bottom: 1.5em;

}
.detail-top-property{
  margin-right: 1em;
  font-size: 13px;
  line-height: 18px;
  color: #030303;
}

.detail-top-value{
  font-size: 13px;
  line-height: 18px;
}