.channel {
  width: 82%;
  margin-left: 17.5%;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 0.2em;
}

.channel-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
}

.channel-dashboard {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  position: relative;
}

.channel-profile-info {
  margin-left: 1em;
}

.channel-name {
  font-size: 24px;
  line-height: 30px;
  color: #030303;
}
.channel-subcriber-count {
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}

.channel-subcriber {
  display: flex;
  height: 100px;
  align-items: center;
  padding-top: 0.4em;
}
.channel-profile-image {
  border-radius: 50px;
  margin-right: 0.8em;
  padding: 0;
  height: 80px;
  cursor: pointer;
}

.channel-action-button {
  display: flex;
  align-items: center;
}

.channel-navigation {
  position: sticky;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 0 10%;
}

.channel-navigation-tab {
  display: flex;
}

.channel-navigation-tab-item {
  font-size: 14px;
  color: #030303;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 7em;
  cursor: pointer;
}

.channel-uploads-container {
  background-color: #f1f1f1;
  padding: 0 1em;
  min-height: 80vh;
}

@media only screen and (max-width: 1336px) {
  .channel {
    width: 98%;
    margin-left: 70px;
  }
}
