.sidebar-row-mini {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.1em .6em;
	justify-content: center;
}

.sidebar-row-mini:hover {
	background-color: rgba(211, 211, 211, 0.685);
}

.sidebar-row-mini-icon {
	font-size: 23px !important;
	color: #606060 !important;
}

.sidebar-row-mini.selected > .sidebar-row-mini-icon{
  color: red !important;
  }
.sidebar-row-mini > p {
  font-size: 10px;
  color: #606066;
}
