.sidebar-row {
	display: flex;
	align-items: center;
	padding-left: 25px;
	height: 40px;
}

.sidebar-row-icon {
	color: #606060;
	font-size: 1.4em !important;
}

.sidebar-row-title {
	flex: 1;
	margin: 0.8em;
	margin-left: 25px;
	font-size: 0.89em;
	line-height: 21px;
}

.sidebar-row:hover {
	background-color: rgba(211, 211, 211, 0.685);
	cursor: pointer;
}

.sidebar-row.selected {
	background-color: lightgray;
}
.sidebar-row.selected > .sidebar-row-icon {
	color: red;
}
.sidebar-row.selected > .sidebar-row-title {
	font-weight: bold;
}
