.sidebar-row {
  display: flex;
  align-items: center;
}

.sidebar-row-icon{
color: #606060;
padding-left: 30px;
font-size: 1.4em !important;
}

.sidebar-row-title{
flex: 1;
margin: .8em;
margin-left: 20px;
font-size: .9em;
/* font-weight: 500; */
/* color: lightgray; */
}

.sidebar-row:hover{
  background-color: rgba(211, 211, 211, 0.685);
  cursor: pointer;
}

.sidebar-row.selected {
  background-color: lightgray;
  }
.sidebar-row.selected > .sidebar-row-icon{
color: red;
}
.sidebar-row.selected > .sidebar-row-title{
  font-weight: bold;
  }