.subscribedChannel {
	display: flex;
	align-items: center;
  padding: 0 25px;
	height: 40px;
	line-height: 21px;

}

.subscribedChannel:hover {
	background-color: rgba(211, 211, 211, 0.685);
	cursor: pointer;
}

.subscribedChannel > p {
  margin-left: 25px;
	font-size: 14px;

}
