.video-upload-modal-header {
	display: flex;
	justify-content: space-between;
	padding: 1.2em;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.modal-header{
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
}
.uploader {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}
.upload-image {
	margin-top: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 140px;
	background-color: lightgray;
	border-radius: 50%;
}

.upload-button{
	margin-top: 2em;
}
.info{
	display: flex;
	font-size: 13px;
	align-items: center;
	margin-top: 1em;
}
.publish-icon {
	color: #606060;
	cursor: pointer;
	font-size: 100px !important;
}

.info-icon{
	color: red;
	font-size: 20px !important;
	padding-right: 1em;
}

.texts-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
}
.label {
	background-color: #065FD4;
	color: white;
	padding:  10px 15px;
	border-radius: 1px;
	cursor: pointer;
  margin-top: 4rem;
  font-size: 14px;
	font-weight: bold;
}

.jet {
	position: absolute;
	top: 0;
	margin-top: .5em;
	bottom: 0;
}