.skeleton-video-card {
	margin-bottom: 3.5em;
	margin-right: 1em;
	display: block;
  
}

.recommended-sekeleton-infos {
	margin-top: 1em;
	display: flex;
}

.recommended-sekeleton-infos-text{
	margin-left: 1em;
}