.liked-videos {
	margin-left: 17.5%;
	width: 100%;
	background-color: #f9f9f9;
	display: flex;
	position: relative;
}

.liked-videos-right {
	background-color: #f1f1f1;
	padding: 1em 2em 0 0.5em;
	margin-left: 430px;
	width: 70%;
}

@media only screen and (max-width: 1336px) {
	.liked-videos {
		margin-left: 6%;
	}
}

@media only screen and (max-width: 1336px) {
	.liked-videos {
		margin-left: 6%;
	}
}
