.video-upload-modal-header {
	display: flex;
	justify-content: space-between;
	padding: 1.2em;
	align-items: center;
	border-bottom: 1px solid lightgray;
}
.modal-header {
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
}

.indicator-container {
	border-bottom: 1px solid #9090907e;
	padding-bottom: 1.5em;
}

.modal-body-container ::placeholder {
	font-size: 14px;
}
.indicator {
	width: 70%;
	margin: auto;
	padding-top: 0.8em;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	position: sticky;
}
.indicator-bar {
	width: 95%;
	margin: auto;
}

.indicator-button-icon {
	font-size: 20px !important;
	color: #065fd4;
	z-index: 999;
}

.indicator-bar > hr {
	margin-top: -2%;
}

.indicator-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.indicator-title {
	display: flex;
	justify-content: space-between;
}

.modal-subheader {
	font-size: 25px;
	line-height: 32px;
	margin-bottom: 0.5em;
	width: 90%;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

.modal-body-container {
	height: 62%;
	overflow: scroll;
	overflow-x: hidden;
}
.modal-body {
	display: flex;
	width: 90%;
	margin: auto;
	margin-top: 1em;
	gap: 3%;
	position: relative;
}

.modal-body-left {
	width: 65%;
}

.modal-body-right {
	width: 35%;
	position: sticky;
}
.modal-lable {
	font-size: 12px;
}
.modal-video-title {
	border: 1px solid #dddbdb;
	padding: 0.5em 0.7em 2em 0.7em;
	border-radius: 4px;
	margin-bottom: 1.5em;
}

.modal-video-title > textarea {
	border: none;
	outline: none;
	resize: none;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
.modal-body-right-card {
	transition: 0.3s;
	border-radius: 5px;
	width: 100%;
}

.details-container {
	background-color: #f4f4f4;
	padding: 0.5em;
	margin-top: -4px;
	white-space: wrap;
  text-overflow: ellipsis;
}

.card-title {
	margin-bottom: 0.4em;
	font-size: 11px;
}
.sub-title {
	font-size: 14px;
	line-height: 16px;
}
.modal-body-right-card .card-title {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.55);
	line-height: 16px;
}
.modal-body-right img {
	margin: 0;
	padding: 0;
	object-fit: contain;
	border-radius: 5px 5px 0 0;
}

.video-upload-modal-footer {
	display: flex;
	justify-content: space-between;
	padding: 0 0.5em;
	align-items: center;
	border-top: 1px solid lightgray;
}

.upload-meter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-body-container::-webkit-scrollbar {
	width: 8px;
}

.modal-body-container::-webkit-scrollbar-track {
	background: gray;
	margin-bottom: 230px;
}

.modal-body-container::-webkit-scrollbar-thumb {
	background-color: gray;
}

.modal-video-thumbnail-header {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
}

.modal-video-thumbnail-body {
	font-size: 12px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.55);
	margin-bottom: 0.5em;
}

.thummbnail-images {
	display: flex;
	margin-bottom: 1em;
}

.upload-thumbnail {
	display: flex;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 62px;
	border: 1px dashed grey;
}

.upload-thumbnail > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal-body-right-card-pending-video{
	width: 100%;
	height: 160px;
	background-color: #dddbdb;
	display: flex;
	justify-content: center;
	align-items: center;
}