.watched-videos {
	margin-left: 17.5%;
	background-color: #f9f9f9;
	display: flex;
	min-height: 90vh;
}

.no-watched-videos {
	min-height: 83vh;
}

.watched-videos-right {
	margin-left: 26em;
	height: 90vh;
	width: 100%;
}

@media only screen and (max-width: 1336px) {
	.watched-videos {
		margin-left: 6%;
	}
}

@media only screen and (max-width: 1336px) {
	.watched-videos {
		margin-left: 6%;
	}
}
