.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0;
  position: sticky;
  top: 0;
  padding-right: 30px;
  background-color: #fff;
  z-index: 999;
  height: 6vh;
}

.header-menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.menu-icon {
  color: #606060;
  font-size: 1.4em !important;
}
.logo {
  height: 18px;
  object-fit: cover;
  margin-left: 1.5em;
}

.header-input {
  display: flex;
  width: 48%;
  height: 30px;
  padding-left: 0.6em;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 1px;
  margin-right: 6em;
}

.header-button {
  background-color: #fafafa;
  width: 70px !important;
  color: gray;
  border-left: 1px solid lightgray;
  cursor: pointer;
}

.header-input > input {
  border: none;
  flex: 1;
  outline: none;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  border-radius: 50px;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.header-icon {
  padding-right: 0.8em;
  color: grey;
  cursor: pointer;
  font-size: 1.55em !important;
}

.header-btn {
  padding: 1em;
  font-weight: bold;
}

.header-btn-icon {
  margin-right: 0.2em;
  font-size: 30px !important;
}
