.sidebar-mini {
	width: 6%;
	line-height: 22px;
	position: fixed;
	z-index: 999;
	height: 100%;
	left: 0;
	font-size: 15.5px;
	background-color: #fff;
	overflow: hidden;
}


@media only screen and (min-width: 1336px) {
  .sidebar-mini {
    display: none;
  }
  
}