.search-page {
	background-color: #f9f9f9;
	padding: 1.5em 1em 0 1.6em;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.search-page-no-result {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 8em;
}

.search-page-no-result-image {
	width: 100%;
	height: 50vh;
}

.search-page-no-result-header {
	font-size: 24px;
	line-height: 30px;
	color: #030303;
}

.search-page-no-result-body {
	font-size: 14px;
	line-height: 21px;
	margin-top: 1em;
}

@media only screen and (max-width: 1336px) {
	.search-page {
		margin-left: 6%;
	}
}
