* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #030303;
}
::placeholder {
	font-size: 1.2em;
}

.app-page {
	display: flex;
	width: 100%;
	margin-bottom: 1em;
}

.pl-1 {
	padding-left: 30px;
}

.mt-1 {
	margin-top: 1em;
}

.mb-1 {
	margin-bottom: 1em;
}
