.custom-channel-header2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	padding-right: 30px;
	background-color: #fff;
	z-index: 999;
  height: 6vh;
  width: 95%;
  margin: 0 auto;
  padding-top: 1em;
}

.channel-setup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 59%;
	margin: auto;
	padding-top: 2.5em;
}

.channel-setup-header {
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #0d0d0d;
}

.channel-setup-header-text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #606060;
	margin: 0.5em 0 1em 0;
}

.channel-setup-header-img {
	width: 70%;
}

.channel-setup-card-heading {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	color: #0d0d0d;
}
.channel-setup-card-info {
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	color: #606060;
	margin: 0.5em 0 1em 0;
}

.channel-setup-card-profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5em;
}
.channel-setup-card-profile {
	width: 100px;
	height: 100px;
}
.channel-setup-card-upload-button {
	margin-top: 1em;
}
.channel-setup-card-label {
	cursor: pointer;
	text-transform: uppercase;
	color: #065fd4;
	font-weight: 500;
	line-height: 20px;
}
.channel-setup-card-footer {
	font-size: 12px;
	line-height: 16px;
	color: #606060;
	text-align: center;
}

.channel-setup-card-action {
	display: flex;
	justify-content: center;
	margin-top: 1.5em;
}
